// Specific CSS for your home-page

body p {
  background-color: rgb(223, 223, 223);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color:rgb(53, 52, 52);
  height: 500px;
  width: 100%;
}
