.navbar {
  // background-color: transparent;
  position: fixed;
  // padding: 0 !important;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;


  .hero-image {
    background-image: url(turtle-water.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: auto;
  }
  .container {
    display: block;
    align-items: center;
    padding: 250px 100px;

    h1 {
      font-size: 50px;
      font-family: 'Roboto';
      padding-bottom: 30px;
    }

    h2 {
      font-size: 45px;
      font-weight: bold;
      color: black;

      a {
        box-shadow: inset 0 0 0 0 white;
        color: white;
        margin: 0 -.25rem;
        padding: 0 .25rem;
        transition: color .6s ease-in-out, box-shadow .6s ease-in-out;
        text-decoration: none;
      }
      a:hover {
        box-shadow: inset 600px 0 0 0 white;
        color: black;
      }
    }
  }.today {
    font-size: 30px;
  }

}
