.container {
  height: 100vh;
  padding-top: 200px;

  .description-container {
    height: 100vh;
    display: block;
    justify-content: center;
    align-items: center;
    padding: 0 150px;


    .main-content {
      display: block;
      justify-content: center;

      .names {
        font-size: 30px;
        padding-bottom: 20px;
        display: flex;
        justify-content: flex-start;

      }

      .photo {
        display: flex;
        justify-content: center;

        .turtle-photo {
          height: 400px;
          width: 820px;
        }
      }

      .details {
        padding-left: 20px;
        padding-top: 50px;
        width: 100%;
        padding: 50px 0 !important;
      }
    }
  }
  .navigators {
    text-decoration: none;
      color: black;
      padding-top: 20px;
      padding-right: 20px;

    .navigators a {
      text-decoration: none;
      color: black;
      padding-top: 20px;
      padding-right: 20px;

      &:hover {
        font-weight: bold;
        color: rgb(73, 72, 72);
        text-decoration: none;
      }
    }
  }
}
