.container {
  height: 100vh;
  padding-top: 200px;

  .description-container {
    height: 150vh;
    display: block;
    justify-content: center;
    align-items: center;
    padding: 0 150px;


    .main-content {
      display: block;
      justify-content: center;

      .names {
        font-size: 25px;
        padding-bottom: 20px;
        display: flex;
        justify-content: space-between;

      }
    }
    .detail {
      width: 100%;
      margin: 50px 0;
      font-weight: lighter;
    }
  }
}

.photo {
  display: flex;
  justify-content: center;

  #turtles-photo {
    height: 400px !important;
    width: 810px !important;
    margin: 20px 0;
    border-radius: 10px;
  }
}


.butttton {
  text-decoration: none;
    color: black;
    font-size: 15px;
    padding-left: 8px;

  .butttton a {
    text-decoration: none;
    color: black;
    padding-top: 20px;
    padding-right: 20px;

    &:hover {
      font-weight: bold;
      text-decoration: none;
    }
  }
}

.reviews-for {
  font-family: 'Roboto';
  color: black;
  font-weight: normal;
  font-size: 18px;
}
