.container {

  .description-container {
    height: 150vh;
    display: block;
    justify-content: center;
    align-items: center;


    .main-content {
      display: block;
      justify-content: center;

      .names {
        font-size: 25px;
        padding-bottom: 20px;
        display: flex;
        justify-content: space-between;
        padding-top: 100px;

        .name {
          padding-bottom: 15px;
        }
      }
    }

    .details {
      border-bottom: solid 1px rgb(221, 220, 220);
      padding: 15px 0;

      .detail {
        width: 100%;
        font-weight: lighter;
      }
    }
  }
}

.photo {
  display: flex;
  justify-content: center;
  margin-top: 10px;

  #turtles-photo {
    height: 400px !important;
    width: 810px !important;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 3px 8px rgba(0,0,0,0.12);
  }
}


.butttton {
  text-decoration: none;
    color: black;
    font-size: 15px;
    padding-left: 8px;

  .butttton a {
    text-decoration: none;
    color: black;
    padding-top: 20px;
    padding-right: 20px;

    &:hover {
      font-weight: bold;
      text-decoration: none;
    }
  }
}

.reviews-for {
  font-family: 'Roboto';
  color: black;
  font-weight: normal;
  font-size: 18px;
  padding-top: 20px;
}

.names2 {
  font-size: 25px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  padding-top: 100px;
}

.review {
  color: #494848;
  font-weight: lighter;
  padding-bottom: 30px
}

.reviews {
  display: flex;
  justify-content: space-evenly;
}
.review-item {
  background-color: transparent;
  border: none;
  padding-top: 30px;
  padding-right: 30px;
}

.review-button:hover {
  color: white;
}

.rating {
  color: #2c602a;
  font-weight: lighter;
}

label {
  padding: 10px;
}

.review-form {
  color: #494848;
  font-weight: lighter;
}

select {
  color: #494848;
  font-weight: lighter;
}

.form-control::placeholder  {
  color: #494848;
  font-weight: lighter;
}

.review-button {
    font-weight: lighter;
    padding: 10px;
    background-color: #2c602a;
    color: #fff;
    font-size: 15px;
    border-radius: 10px;
}
