<div class="hero">
  <div class="hero-image">
    <div class="container">
      <h1><%= 'When times are hard, pocket-sized friends are what you need' %></h1>
      <h2><%= link_to 'Meet your new pal today!', turtles_path%></h2>
    </div>
  </div>
</div>


