<br><br><br><br><br>
<div class="container-title">
  <p class="smallest-friend"><%= 'Find the smallest of friends' %></p>
  <p class="find-friend"><%= link_to 'Meet your new buddy', turtles_path%></p>
</div>
