.footer {
  background: #F4F4F4;
  height: 60px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
  bottom: 0;
  text-align: center;
  width: 100%;
  padding-bottom: 5px;
}
.footer-links {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 18px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}

.footer-copyright {
  display: flex;
  align-items: center;
  justify-content: center;
}
