// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";
@import "footer";

.back-button a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}


.turtle-card {
  border-radius: 10px;
  margin: 15px;

  .description-turtle {
    color:rgb(73, 72, 72);
    font-weight: lighter;
  }

  .turtle-price {
    font-weight: lighter;
  }
}

.turtle-card a {
  text-decoration: none;
  color: black
}

li {
  list-style-type: none
}

.turtle-photo {
  border-radius: 10px;
  height: 275px;
  width: 275px;

}

.container-of-index {
  display: flex;
  justify-content: center;
  margin: 0 150px;
  padding-top: 50px;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  justify-content: center;
  cursor: pointer;
  padding: 30px 0;
}

.turtle-link-names {
  font-size: 17px;
  padding-bottom: 0 !important;
}


.names {
  padding-bottom: 0 !important;
}

.names a:hover {
  color: rgb(73, 72, 72);
  font-weight: bold;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
