// .navbar-lewagon {
//   justify-content: space-between;
//   background: white;
// }

.navbar {
  position: sticky;
  background-color: rgb(243, 243, 243);
  width: 100%;
  display: flex;

  .container-fluid {
    width: 800px;
  }
}


.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  padding: 15px;
}

.logo-of-turtle {
  font-size: 25px;
  color:  #2c602a;
}

.navbar-lewagon .navbar-brand img {
  width: 60px;
}

.navbar-nav {
  align-items: center;
}

.flex {
  display: flex;
}



.butttons {
  border-radius: 10px;
  font-family: 'Roboto';
  margin-right: 0 !important;
  font-size: 14px;
}

.navbar {
  display: flex;
  // justify-content: space-between;
}


.ms-auto {
  margin-left: 0 !important
}

.container-fluid img {
  width: 60px;
}


.search {
  border: none;
  background-color: transparent;
  height: 35px;
  width: 40px;
  border-radius: 50%;
  color: #2c602a;
  margin-left: 10px;


  &:hover {
    // background-clip: content-box;
    color: white;
    background-color: #2c602a;
  }
}



.avatar-navbar {
  width: 24px !important;
}

.addit {
  border: none;
  background-color: transparent;
  font-weight: lighter;
}

.container-fluid {
  display: flex;
  justify-content: center;
  padding: 0 !important;
}

.fa-regular {
  font-size: 22px;
  color: #2c602a;
}

.black-title {
  color: black
}

.nav-link {
  color: black
}



// avatar size dependent on the turtle logo size
// cannot change home color to black
// unable to put margin or padding o nthe whole page (turtles)
//  .sample is not working on the description array
