// .navbar-lewagon {
//   justify-content: space-between;
//   background: white;
// }

.navbar {
  position: sticky;
  overflow: hidden;
  background-color: white;
  padding: 0 150px;
}


.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  padding: 15px;
}

.logo-of-turtle {
  width: 280px;
}

.navbar-lewagon .navbar-brand img {
  width: 60px;
}

.navbar-nav {
  align-items: center;
}

.flex {
  display: flex;
}



.butttons {
  border-radius: 10px;
  font-family: 'Roboto';
  margin-right: 0 !important;
  font-size: 14px;
}

.navbar {
  display: flex;
  // justify-content: space-between;
}


.ms-auto {
  margin-left: 0 !important
}

.container-fluid img {
  width: 60px;
}

.fa-solid {
  width: 50px;
}

.search {
  border: none;
  background-color: transparent;
  padding-left: 0px;
}

.avatar-navbar {
  width: 40px !important;
}

.addit {
  border: none;
  background-color: transparent;
  font-weight: lighter;
}

.container-fluid {
  display: flex;
  justify-content: center;
  padding: 0 !important;
}

#navbarDropdown {
  border-radius: 50%;
}

.black-title {
  color: black
}

.nav-link {
  color: black
}



// avatar size dependent on the turtle logo size
// cannot change home color to black
// unable to put margin or padding o nthe whole page (turtles)
//  .sample is not working on the description array
