.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 60px;
}

.navbar-nav {
  align-items: center;
}

.flex {
  display: flex;
}

.nav-btn {
  background-color: #8EBB21;
}

.btn-nav-search{
  border: 1px solid #8EBB21;
}
