.submit-button {
  background-color: #2c602a;
  border: none;
  padding: 10px;
  border-radius: 5px;
  color: White;
}

.form-border {
  border: none !important;
  border-radius: 10px;
}

.btn {
  margin: 0 !important;
}
