<br><br><br><br><br>
<div class="container">
<ul class="turtle-list">
  <div class="turtle-container"></div>
    <% @turtles.each do |turtle| %>
      <li>
        <%= link_to turtle.first_name, turtle_path(turtle)%>
        <%= turtle.last_name %>
      </li>
    <% end %>
  </ul>
    <br><br><br><br><br>
  </div>
</div>
